attrs==21.4.0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.0.4
cryptography==39.0.1
daiquiri==3.0.0
Flask==2.0.3
idna==3.3
iniconfig==1.1.1
itsdangerous==2.1.1
Jinja2==3.0.3
lxml==4.8.0
MarkupSafe==2.1.0
packaging==21.3
pip==22.0.4
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.1
python-json-logger==2.0.1
requests==2.27.1
setuptools==60.9.3
tomli==2.0.1
urllib3==1.26.8
uWSGI==2.0.20
Werkzeug==2.0.3
wheel==0.37.1
