attrs==20.3.0
brotlipy==0.7.0
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cryptography==3.4.4
daiquiri==3.0.0
Flask==1.1.2
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==8.7.0
packaging==20.9
pip==21.0.1
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
PySocks==1.7.1
pytest==6.2.2
python-json-logger==2.0.1
requests==2.25.1
setuptools==49.6.0.post20210108
six==1.15.0
toml==0.10.2
urllib3==1.26.3
uWSGI==2.0.19.1
Werkzeug==1.0.1
wheel==0.36.2
